.section_one {
    background-color: black;
    color: white;
    margin: 50px;
    text-align: center;
}
.section_two img {
    height: 200px;
    width: 200px;
}
.section_two {
    justify-items:center;
    margin-left: 250px;
    margin-top: 50px;
}
.section_two__pasta {
    background-color: white;
    color: black;
    border: 2.5px black solid;
    margin-left: 100px;
    display: inline-block;
}
.section_two__noodles {
    background-color: white;
    color: black;
    border: 2.5px black solid;
    margin-left: 10px;
    display: inline-block;
}
.section_two__salad {
    background-color: white;
    color: black;
    border: 2.5px black solid;
    margin-left: 10px;
    display: inline-block;
}
.section_two__dessert {
    background-color: white;
    color: black;
    border: 2.5px black solid;
    margin-left: 10px;
    display: inline-block;
}
h3, p {
    padding: 10px;
}

.section_three {
    background-color: black;
    color: white;
    margin-top: 15px;
    width: 100%;
    margin-right: 200px;
    height: 185px;
    text-align: center;
}
button {
    background-color: black;
    color: white;
    padding: 2px;
    margin-left: 60px;
    border-radius: white 1px solid;
    margin-bottom: 2px;
}
form {
    margin-left: 500px;
}
.contact_us__button {
    background-color: orange;
    color: black;
    border-radius: 20px;
    width: 500px;
    align-items: center;
    margin-left: 350px;
}
